@model Card
@using RocketShip.Models

<div class="row pt-4">
    <div class="col-3">
        <div class="col-10 ml-4 bg-white rounded border border-white overflow-auto" style="height:270px;">
            <div class="row rounded-top bg-primary py-1 d-flex justify-content-center">
                <h5 class="text-white">DRINK LOG</h5>
            </div>
        @{
        List<string> rdOneResult = Context.Session.GetObjectFromJson<List<string>>("RoundOneResult");
        List<string> rdTwoResult = Context.Session.GetObjectFromJson<List<string>>("RoundTwoResult");
        List<string> rdThreeResult = Context.Session.GetObjectFromJson<List<string>>("RoundThreeResult");
        List<string> rdFourResult = Context.Session.GetObjectFromJson<List<string>>("RoundFourResult");
        }
            <div class="text-secondary mt-3">
                @if (rdOneResult != null)
                {
                    @foreach (string resOne in rdOneResult)
                    {
                        <ul style="list-style: none; padding:0px;">
                            <li>@resOne</li>
                        </ul>
                    }
                }
            </div>
            <div class="text-primary">
                @if (rdTwoResult != null)
                {
                    @foreach (string resTwo in rdTwoResult)
                    {
                        <ul style="list-style: none; padding:0px;">
                            <li>@resTwo</li>
                        </ul>
                    }
                }
            </div>
            <div class="text-warning">
                @if (rdThreeResult != null)
                {
                    @foreach (string resThree in rdThreeResult)
                    {
                        <ul style="list-style: none; padding:0px;">
                            <li>@resThree</li>
                        </ul>
                    }
                }
            </div>
            <div class="text-danger">
                @if (rdFourResult != null)
                {
                    @foreach (string resFour in rdFourResult)
                    {
                        <ul style="list-style: none; padding:0px;">
                            <li>@resFour</li>
                        </ul>
                    }
                }
            </div>
        </div>
    </div>
    <div class="col-6 mx-auto">
        @{
                string t1 = "";
                string t2 = "";
                string t3 = "";
                string t4 = "";
                string tS = "";
                string g1 = "";
                string g2 = "";
                string g3 = "";
                string g4 = "";
                string gS = "";
                string t2s = "";
                // TAKE 1
                @if(ViewBag.CardArr.cards[5].Suit == "♥" || ViewBag.CardArr.cards[5].Suit == "♦")
                {
                    t1 = "text-danger";
                }
                @if(ViewBag.CardArr.cards[5].Suit == "♠" || ViewBag.CardArr.cards[5].Suit == "♣")
                {
                    t1 = "text-dark";
                }
                // TAKE 2
                @if(ViewBag.CardArr.cards[4].Suit == "♥" || ViewBag.CardArr.cards[4].Suit == "♦" )
                {
                    t2 = "text-danger";
                }
                @if(ViewBag.CardArr.cards[4].Suit == "♠" || ViewBag.CardArr.cards[4].Suit == "♣" )
                {
                    t2 = "text-dark";
                }
                // TAKE 3
                @if(ViewBag.CardArr.cards[3].Suit == "♦" || ViewBag.CardArr.cards[3].Suit == "♥")
                {
                    t3 = "text-danger";
                }
                @if(ViewBag.CardArr.cards[3].Suit == "♠" || ViewBag.CardArr.cards[3].Suit == "♣")
                {
                    t3 = "text-dark";
                }
                // TAKE 4
                @if(ViewBag.CardArr.cards[2].Suit == "♦" || ViewBag.CardArr.cards[2].Suit == "♥" )
                {
                    t4 = "text-danger";
                }
                @if(ViewBag.CardArr.cards[2].Suit == "♠" || ViewBag.CardArr.cards[2].Suit == "♣" )
                {
                    t4 = "text-dark";
                }
                // TAKE SHOT
                @if(ViewBag.CardArr.cards[1].Suit == "♥" || ViewBag.CardArr.cards[1].Suit == "♦")
                {
                    tS = "text-danger";
                }
                @if(ViewBag.CardArr.cards[1].Suit == "♠" || ViewBag.CardArr.cards[1].Suit == "♣")
                {
                    tS = "text-dark";
                }
                // GIVE 1
                @if(ViewBag.CardArr.cards[10].Suit == "♥" || ViewBag.CardArr.cards[10].Suit == "♦" )
                {
                    g1 = "text-danger";
                }
                @if(ViewBag.CardArr.cards[10].Suit == "♠" || ViewBag.CardArr.cards[10].Suit == "♣" )
                {
                    g1 = "text-dark";
                }
                // GIVE 2
                @if(ViewBag.CardArr.cards[9].Suit == "♦" || ViewBag.CardArr.cards[9].Suit == "♥")
                {
                    g2 = "text-danger";
                }
                @if(ViewBag.CardArr.cards[9].Suit == "♠" || ViewBag.CardArr.cards[9].Suit == "♣")
                {
                    g2 = "text-dark";
                }
                // GIVE 3
                @if(ViewBag.CardArr.cards[8].Suit == "♦" || ViewBag.CardArr.cards[8].Suit == "♥" )
                {
                    g3 = "text-danger";
                }
                @if(ViewBag.CardArr.cards[8].Suit == "♠" || ViewBag.CardArr.cards[8].Suit == "♣" )
                {
                    g3 = "text-dark";
                }
                // GIVE 4
                @if(ViewBag.CardArr.cards[7].Suit == "♥" || ViewBag.CardArr.cards[7].Suit == "♦" )
                {
                    g4 = "text-danger";
                }
                @if(ViewBag.CardArr.cards[7].Suit == "♠" || ViewBag.CardArr.cards[7].Suit == "♣" )
                {
                    g4 = "text-dark";
                }
                // GIVE SHOT
                @if(ViewBag.CardArr.cards[6].Suit == "♦" || ViewBag.CardArr.cards[6].Suit == "♥")
                {
                    gS = "text-danger";
                }
                @if(ViewBag.CardArr.cards[6].Suit == "♠" || ViewBag.CardArr.cards[6].Suit == "♣")
                {
                    gS = "text-dark";
                }
                // TAKE 2 SHOTS
                @if(ViewBag.CardArr.cards[5].Suit == "♦" || ViewBag.CardArr.cards[5].Suit == "♥" )
                {
                    t2s = "text-danger";
                }
                @if(ViewBag.CardArr.cards[5].Suit == "♠" || ViewBag.CardArr.cards[5].Suit == "♣" )
                {
                    t2s = "text-dark";
                }
        }
        <div class="row">
            <div class="flipper mr-3 mb-3"style="width:6rem; height:8rem;">
                <div class="front card border-warning">
                    <div class="card-header">
                        <h6 class="card-title text-warning">TAKE</h6>
                    </div>
                    <div class="card-body">
                        <h6 class="card-title text-warning">1</h6>
                    </div>
                </div>
                <div class="back card border-warning @t1">
                    <div class="card-header">
                        <h6 class="card-title">@ViewBag.CardArr.cards[5].StringVal</h6>
                    </div>
                    <div class="card-body">
                        <h6 class="card-title">@ViewBag.CardArr.cards[5].Suit</h6>
                    </div>
                </div>
            </div>
            <div class="flipper mr-3 mb-3"style="width:6rem; height:8rem;">
                <div class="front card border-warning">
                    <div class="card-header">
                        <h6 class="card-title text-warning">TAKE</h6>
                    </div>
                    <div class="card-body">
                        <h6 class="card-title text-warning">2</h6>
                    </div>
                </div>
                <div class="back card border-warning @t2">
                    <div class="card-header">
                        <h6 class="card-title">@ViewBag.CardArr.cards[4].StringVal</h6>
                    </div>
                    <div class="card-body">
                        <h6 class="card-title">@ViewBag.CardArr.cards[4].Suit</h6>
                    </div>
                </div>
            </div>
            <div class="flipper mb-3 mr-3"style="width:6rem; height:8rem;">
                <div class="front card border-warning">
                    <div class="card-header">
                        <h6 class="card-title text-warning">TAKE</h6>
                    </div>
                    <div class="card-body">
                        <h6 class="card-title text-warning">3</h6>
                    </div>
                </div>
                <div class="back card border-warning @t3">
                    <div class="card-header">
                        <h6 class="card-title">@ViewBag.CardArr.cards[3].StringVal</h6>
                    </div>
                    <div class="card-body">
                        <h6 class="card-title">@ViewBag.CardArr.cards[3].Suit</h6>
                    </div>
                </div>
            </div>
            <div class="flipper mb-3 mr-3"style="width:6rem; height:8rem;">
                <div class="front card border-warning">
                    <div class="card-header">
                        <h6 class="card-title text-warning">TAKE</h6>
                    </div>
                    <div class="card-body">
                        <h6 class="card-title text-warning">4</h6>
                    </div>
                </div>
                <div class="back card border-warning @t4">
                    <div class="card-header">
                        <h6 class="card-title">@ViewBag.CardArr.cards[2].StringVal</h6>
                    </div>
                    <div class="card-body">
                        <h6 class="card-title">@ViewBag.CardArr.cards[2].Suit</h6>
                    </div>
                </div>
            </div>
            <div class="flipper mb-3"style="width:6rem; height:8rem;">
                <div class="front card border-warning">
                    <div class="card-header">
                        <h6 class="card-title text-warning">TAKE</h6>
                    </div>
                    <div class="card-body">
                        <h6 class="card-title text-warning text-success">SHOT</h6>
                    </div>
                </div>
                <div class="back card border-warning @tS">
                    <div class="card-header">
                        <h6 class="card-title">@ViewBag.CardArr.cards[1].StringVal</h6>
                    </div>
                    <div class="card-body">
                        <h6 class="card-title">@ViewBag.CardArr.cards[1].Suit</h6>
                    </div>
                </div>
            </div>
            @* endofrow *@
        </div>
        

        <div class="row mb-5">
            
            <div class="flipper mb-3 mr-3"style="width:6rem; height:8rem;">
                <div class="front card border-success">
                    <div class="card-header">
                        <h6 class="card-title text-success">GIVE</h6>
                    </div>
                    <div class="card-body">
                        <h6 class="card-title text-success">1</h6>
                    </div>
                </div>
                <div class="back card border-success @g1">
                    <div class="card-header">
                        <h6 class="card-title">@ViewBag.CardArr.cards[10].StringVal</h6>
                    </div>
                    <div class="card-body">
                        <h6 class="card-title">@ViewBag.CardArr.cards[10].Suit</h6>
                    </div>
                </div>
            </div>
            <div class="flipper mb-3 mr-3" style="width:6rem; height:8rem;">
                <div class="front card border-success">
                    <div class="card-header">
                        <h6 class="card-title text-success">GIVE</h6>
                    </div>
                    <div class="card-body">
                        <h6 class="card-title text-success">2</h6>
                    </div>
                </div>
                <div class="back card border-success @g2">
                    <div class="card-header">
                        <h6 class="card-title">@ViewBag.CardArr.cards[9].StringVal</h6>
                    </div>
                    <div class="card-body">
                        <h6 class="card-title">@ViewBag.CardArr.cards[9].Suit</h6>
                    </div>
                </div>
            </div>
            <div class="flipper mb-3 mr-3"style="width:6rem; height:8rem;">
                <div class="front card border-success">
                    <div class="card-header">
                        <h6 class="card-title text-success">GIVE</h6>
                    </div>
                    <div class="card-body">
                        <h6 class="card-title text-success">3</h6>
                    </div>
                </div>
                <div class="back card border-success @g3">
                    <div class="card-header">
                        <h6 class="card-title">@ViewBag.CardArr.cards[8].StringVal</h6>
                    </div>
                    <div class="card-body">
                        <h6 class="card-title">@ViewBag.CardArr.cards[8].Suit</h6>
                    </div>
                </div>
            </div>
            <div class="flipper mb-3 mr-3"style="width:6rem; height:8rem;">
                <div class="front card border-success">
                    <div class="card-header">
                        <h6 class="card-title text-success">GIVE</h6>
                    </div>
                    <div class="card-body">
                        <h6 class="card-title text-success">4</h6>
                    </div>
                </div>
                <div class="back card border-success @g4">
                    <div class="card-header">
                        <h6 class="card-title">@ViewBag.CardArr.cards[7].StringVal</h6>
                    </div>
                    <div class="card-body">
                        <h6 class="card-title">@ViewBag.CardArr.cards[7].Suit</h6>
                    </div>
                </div>
            </div>
            <div class="flipper mb-3"style="width:6rem; height:8rem;">
                <div class="front card border-success">
                    <div class="card-header">
                        <h6 class="card-title text-success">GIVE</h6>
                    </div>
                    <div class="card-body">
                        <h6 class="card-title text-success">SHOT</h6>
                    </div>
                </div>
                <div class="back card border-success @gS">
                    <div class="card-header">
                        <h6 class="card-title">@ViewBag.CardArr.cards[6].StringVal</h6>
                    </div>
                    <div class="card-body">
                        <h6 class="card-title">@ViewBag.CardArr.cards[6].Suit</h6>
                    </div>
                </div>
            </div>
        </div>

        @* endofCOL *@
    </div>
    <div class="col-3">
        <div class="flipper" style="width:7rem; height:8rem; margin-top:50px;">
            <div class="front card border-danger">
                <div class="card-header">
                    <h6 class="card-title text-danger">TAKE (2)</h6>
                </div>
                <div class="card-body">
                    <h6 class="card-title text-danger">SHOTS</h6>
                </div>
            </div>
            <div class="back card border-danger @t2s">
                <div class="card-header">
                    <h6 class="card-title">@ViewBag.CardArr.cards[0].StringVal</h6>
                </div>
                <div class="card-body">
                    <h6 class="card-title">@ViewBag.CardArr.cards[0].Suit</h6>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">


    <div id="playArea" class="col-6 ml-5 mr-5">
        @if(ViewBag.players != null)
        {
        <div class="row">
            @foreach (var player in ViewBag.players)
            {
                string suitColor1 = "";
                string suitColor2 = "";
                string suitColor3 = "";
                string suitColor4 = "";
                // ROUND 1
                @if(player.rdOneCard.Suit == "♥" || player.rdOneCard.Suit == "♦")
                {
                    suitColor1 = "text-danger";
                }
                @if(player.rdOneCard.Suit == "♠" || player.rdOneCard.Suit == "♣")
                {
                    suitColor1 = "text-dark";
                }
                // ROUND 2
                @if(player.rdTwoCard.Suit == "♥" || player.rdTwoCard.Suit == "♦" )
                {
                    suitColor2 = "text-danger";
                }
                @if(player.rdTwoCard.Suit == "♠" || player.rdTwoCard.Suit == "♣" )
                {
                    suitColor2 = "text-dark";
                }
                // ROUND 3
                @if(player.rdThreeCard.Suit == "♦" || player.rdThreeCard.Suit == "♥")
                {
                    suitColor3 = "text-danger";
                }
                @if(player.rdThreeCard.Suit == "♠" || player.rdThreeCard.Suit == "♣")
                {
                    suitColor3 = "text-dark";
                }
                // ROUND 4
                @if(player.rdFourCard.Suit == "♦" || player.rdFourCard.Suit == "♥" )
                {
                    suitColor4 = "text-danger";
                }
                @if(player.rdFourCard.Suit == "♠" || player.rdFourCard.Suit == "♣" )
                {
                    suitColor4 = "text-dark";
                }
                <div class="row mb-1 font-weight-bold">
                    <div class="col-2 ml-3 bg-primary rounded pt-2 pb-1">
                        <img src="~/images/astronaut.jpg" class="rounded-circle" alt=""  height="70px;" width="70px">
                        <h6 class="text-center text-white mt-3">@player.Username</h6>
                    </div>
                    
                    <div class="rd1flip flipper ml-4" style="width:6rem; height:8rem;">
                        <div class="front card border-primary">
                            <div class="card-header">
                                <h6 class="card-title text-dark">SMOK</h6>
                            </div>
                            <div class="card-body">
                                <h6 class="card-title text-danger">FIRE</h6>
                            </div>
                        </div>
                        <div class="back card border-secondary @suitColor1">
                            <div class="card-header">
                                <h6 class="card-title">@player.rdOneCard.StringVal</h6>
                            </div>
                            <div class="card-body">
                                <h6 class="card-title">@player.rdOneCard.Suit</h6>
                            </div>
                        </div>
                    </div>
        
                    <div class="rd2flip flipper ml-4" style="width:6rem; height:8rem;">
                        <div class="front card border-primary">
                            <div class="card-header">
                                <h6 class="card-title text-success">HIGH</h6>
                            </div>
                            <div class="card-body">
                                <h6 class="card-title text-danger">LOW</h6>
                            </div>
                        </div>
                        <div class="back card border-primary @suitColor2">
                            <div class="card-header">
                                <h6 class="card-title">@player.rdTwoCard.StringVal</h6>
                            </div>
                            <div class="card-body">
                                <h6 class="card-title">@player.rdTwoCard.Suit</h6>
                            </div>
                        </div>
                    </div>
        
                    <div class="rd3flip flipper ml-4" style="width:6rem; height:8rem;">
                        <div class="front card border-primary">
                            <div class="card-header">
                                <h6 class="card-title text-success">IN</h6>
                            </div>
                            <div class="card-body">
                                <h6 class="card-title text-danger">OUT</h6>
                            </div>
                        </div>
                        <div class="back card border-primary @suitColor3">
                            <div class="card-header">
                                <h6 class="card-title">@player.rdThreeCard.StringVal</h6>
                            </div>
                            <div class="card-body">
                                <h6 class="card-title">@player.rdThreeCard.Suit</h6>
                            </div>
                        </div>
                    </div>
        
                    <div class="rd4flip flipper ml-4" style="width:6rem; height:8rem;">
                        <div class="front card border-primary">
                            <div class="card-header">
                                <h6 class="card-title text-dark">♠ ♣</h6>
                            </div>
                            <div class="card-body">
                                <h6 class="card-title text-danger">♥ ♦</h6>
                            </div>
                        </div>
                        <div class="back card border-primary @suitColor4">
                            <div class="card-header">
                                <h6 class="card-title">@player.rdFourCard.StringVal</h6>
                            </div>
                            <div class="card-body">
                                <h6 class="card-title">@player.rdFourCard.Suit</h6>
                            </div>
                        </div>
                    </div>
                </div>
                @* ---------------ACTIONS------------ *@
                <div class="row ml-1 mb-2">
                    <div class="col-2 pt-2 pb-1"style="width:6rem;">
                        <h6 class="text-center text-white font-weight-bold mt-3">ACTIONS</h6>
                    </div>
                    <div class="col ml-4"style="width:6rem;">
                        <div class="row d-flex justify-content-between">
                            <form method="POST" asp-action="RoundOne" asp-route-playerId="@player.PlayerId"  asp-route-rdOneData="smoke">
                                <button class="rd1 btn btn-dark border-white" type="button" style="width:6rem;"><i class="fa fa-fire-extinguisher"></i></button>
                            </form>
                            <form method="POST" asp-action="RoundOne" asp-route-playerId="@player.PlayerId"  asp-route-rdOneData="fire">
                                <button class="rd1 btn btn-danger border-white" type="button" style="width:6rem;"><i class="fa fa-fire"></i></button>
                            </form>
                        </div>
                    </div>

                    <div class="col ml-4" style="width:6rem;">
                        <div class="row">
                            <form method="POST" asp-action="RoundTwo" asp-route-playerId="@player.PlayerId"  asp-route-rdTwoData="high">
                                <button class="rd2 btn btn-success border-white" style="width:6rem;"><i class="fa fa-arrow-circle-up"></i></button>
                            </form>
                            <form method="POST" asp-action="RoundTwo" asp-route-playerId="@player.PlayerId"  asp-route-rdTwoData="low">
                                <button class="rd2 btn btn-danger border-white" style="width:6rem;"><i class="fa fa-arrow-circle-down"></i></button>
                            </form>
                        </div>
                    </div>

                    <div class="col ml-4" style="width:6rem;">
                        <div class="row">
                            <form method="POST" asp-action="RoundThree" asp-route-playerId="@player.PlayerId"  asp-route-rdThreeData="in">
                                <button class="rd3 btn btn-success border-white" style="width:6rem;"><i class="fa fa-arrow-circle-right"></i><i class="fa fa-arrow-circle-left"></i></button>
                            </form>
                            
                            <form method="POST" asp-action="RoundThree" asp-route-playerId="@player.PlayerId"  asp-route-rdThreeData="out">
                                <button class="rd3 btn btn-danger border-white" style="width:6rem;"><i class="fa fa-arrow-circle-left"></i><i class="fa fa-arrow-circle-right"></i></button>
                            </form>
                        </div>
                    </div>

                    <div class="col ml-4"style="width:6rem;">
                        <div class="row">
                            <form method="POST" asp-action="RoundFour" asp-route-playerId="@player.PlayerId"  asp-route-rdFourData="spades">
                                <button class="rd4 btn btn-dark border-white" style="width:3rem;">♠</button>
                            </form>
                            <form method="POST" asp-action="RoundFour" asp-route-playerId="@player.PlayerId"  asp-route-rdFourData="clubs">
                                <button class="rd4 btn btn-dark border-white" style="width:3rem;">♣</button>
                            </form>
                        </div>
                        <div class="row">
                            <form method="POST" asp-action="RoundFour" asp-route-playerId="@player.PlayerId"  asp-route-rdFourData="diamonds">
                                <button class="r4 btn btn-danger border-white" style="width:3rem;">♦</button>
                            </form>
                            <form method="POST" asp-action="RoundFour" asp-route-playerId="@player.PlayerId"  asp-route-rdFourData="hearts">
                                <button class="r4 btn btn-danger border-white" style="width:3rem;">♥</button>
                            </form>
                        </div>
                    </div>
                </div> 
            }
        </div>
        }
        else
        {
            <h1>Testing</h1>
        }
    </div>
    <div class="col-2 text-white">
        <partial name="_NewPlayer"></partial>
    </div>
    <div class="col-2 text-white">
        <partial name="_NewGame"></partial>
    </div>
</div>