@model Card
@using RocketShip.Models
<div class="row d-flex justify-content-center">
    <h1 class=""style="
    font-family:Impact;
    font-size:500%;
    background:linear-gradient(rgba(255,255,255,1),rgba(160,255,255,1),rgba(255,105,205,0.9));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;">ROCKET
    <i class="fa fa-rocket" style="
    background:linear-gradient(rgba(130,225,220,1),rgba(255,255,255,1),rgba(255,20,30,0.2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    "></i> SHIP
    </h1>
</div>
<div class="row py-3 mb-3" style="background:linear-gradient(rgba(100,100,255,0.8),rgba(200,255,255,0.75)); border-radius:20px;">
    <div class="col-3">
        <div class="col-10 ml-4 bg-light rounded border border-white overflow-auto" style="height:270px;">
            <div class="row rounded-top bg-info py-1 d-flex justify-content-center">
                <h6 class="text-white">DRINK LOG</h6>
            </div>
        @* @{
        List<string> rdOneResult = Context.Session.GetObjectFromJson<List<string>>("RoundOneResult");
        List<string> rdTwoResult = Context.Session.GetObjectFromJson<List<string>>("RoundTwoResult");
        List<string> rdThreeResult = Context.Session.GetObjectFromJson<List<string>>("RoundThreeResult");
        List<string> rdFourResult = Context.Session.GetObjectFromJson<List<string>>("RoundFourResult");
        } *@
            <div class="text-secondary mt-3">
                <ul class="res-1" style="list-style: none; padding:0px;">

                </ul>
            </div>
            <div class="text-primary">
                <ul class="res-2" style="list-style: none; padding:0px;">
                    
                </ul>
            </div>
            <div class="text-warning">
                <ul class="res-3" style="list-style: none; padding:0px;">
                    
                </ul>
            </div>
            <div class="text-danger">
                <ul class="res-4" style="list-style: none; padding:0px;">
                    
                </ul>
            </div>
        </div>
    </div>
    <div class="col-6 mx-auto">
        @{
                string t1 = "";
                string t2 = "";
                string t3 = "";
                string t4 = "";
                string tS = "";
                string g1 = "";
                string g2 = "";
                string g3 = "";
                string g4 = "";
                string gS = "";
                string t2s = "";
                // TAKE 1
                @if(ViewBag.CardArr.cards[5].Suit == "♥" || ViewBag.CardArr.cards[5].Suit == "♦")
                {
                    t1 = "text-danger";
                }
                @if(ViewBag.CardArr.cards[5].Suit == "♠" || ViewBag.CardArr.cards[5].Suit == "♣")
                {
                    t1 = "text-dark";
                }
                // TAKE 2
                @if(ViewBag.CardArr.cards[4].Suit == "♥" || ViewBag.CardArr.cards[4].Suit == "♦" )
                {
                    t2 = "text-danger";
                }
                @if(ViewBag.CardArr.cards[4].Suit == "♠" || ViewBag.CardArr.cards[4].Suit == "♣" )
                {
                    t2 = "text-dark";
                }
                // TAKE 3
                @if(ViewBag.CardArr.cards[3].Suit == "♦" || ViewBag.CardArr.cards[3].Suit == "♥")
                {
                    t3 = "text-danger";
                }
                @if(ViewBag.CardArr.cards[3].Suit == "♠" || ViewBag.CardArr.cards[3].Suit == "♣")
                {
                    t3 = "text-dark";
                }
                // TAKE 4
                @if(ViewBag.CardArr.cards[2].Suit == "♦" || ViewBag.CardArr.cards[2].Suit == "♥" )
                {
                    t4 = "text-danger";
                }
                @if(ViewBag.CardArr.cards[2].Suit == "♠" || ViewBag.CardArr.cards[2].Suit == "♣" )
                {
                    t4 = "text-dark";
                }
                // TAKE SHOT
                @if(ViewBag.CardArr.cards[1].Suit == "♥" || ViewBag.CardArr.cards[1].Suit == "♦")
                {
                    tS = "text-danger";
                }
                @if(ViewBag.CardArr.cards[1].Suit == "♠" || ViewBag.CardArr.cards[1].Suit == "♣")
                {
                    tS = "text-dark";
                }
                // GIVE 1
                @if(ViewBag.CardArr.cards[10].Suit == "♥" || ViewBag.CardArr.cards[10].Suit == "♦" )
                {
                    g1 = "text-danger";
                }
                @if(ViewBag.CardArr.cards[10].Suit == "♠" || ViewBag.CardArr.cards[10].Suit == "♣" )
                {
                    g1 = "text-dark";
                }
                // GIVE 2
                @if(ViewBag.CardArr.cards[9].Suit == "♦" || ViewBag.CardArr.cards[9].Suit == "♥")
                {
                    g2 = "text-danger";
                }
                @if(ViewBag.CardArr.cards[9].Suit == "♠" || ViewBag.CardArr.cards[9].Suit == "♣")
                {
                    g2 = "text-dark";
                }
                // GIVE 3
                @if(ViewBag.CardArr.cards[8].Suit == "♦" || ViewBag.CardArr.cards[8].Suit == "♥" )
                {
                    g3 = "text-danger";
                }
                @if(ViewBag.CardArr.cards[8].Suit == "♠" || ViewBag.CardArr.cards[8].Suit == "♣" )
                {
                    g3 = "text-dark";
                }
                // GIVE 4
                @if(ViewBag.CardArr.cards[7].Suit == "♥" || ViewBag.CardArr.cards[7].Suit == "♦" )
                {
                    g4 = "text-danger";
                }
                @if(ViewBag.CardArr.cards[7].Suit == "♠" || ViewBag.CardArr.cards[7].Suit == "♣" )
                {
                    g4 = "text-dark";
                }
                // GIVE SHOT
                @if(ViewBag.CardArr.cards[6].Suit == "♦" || ViewBag.CardArr.cards[6].Suit == "♥")
                {
                    gS = "text-danger";
                }
                @if(ViewBag.CardArr.cards[6].Suit == "♠" || ViewBag.CardArr.cards[6].Suit == "♣")
                {
                    gS = "text-dark";
                }
                // TAKE 2 SHOTS
                @if(ViewBag.CardArr.cards[5].Suit == "♦" || ViewBag.CardArr.cards[5].Suit == "♥" )
                {
                    t2s = "text-danger";
                }
                @if(ViewBag.CardArr.cards[5].Suit == "♠" || ViewBag.CardArr.cards[5].Suit == "♣" )
                {
                    t2s = "text-dark";
                }
        }
        <div class="row">
            <div class="flipper mr-3 mb-3"style="width:6rem; height:8rem;">
                <div class="front card bg-warning border-white">
                    <div class="card-header">
                        <h6 class="card-title text-white">TAKE</h6>
                    </div>
                    <div class="card-body">
                        <h6 class="card-title text-white">1 <i class="ml-2 fa fa-rocket bg-white text-primary rounded-circle"></i></h6>
                    </div>
                </div>
                <div class="back card border-white @t1">
                    <div class="card-header">
                        <h6 class="card-title">@ViewBag.CardArr.cards[5].StringVal</h6>
                    </div>
                    <div class="card-body">
                        <h6 class="card-title">@ViewBag.CardArr.cards[5].Suit</h6>
                    </div>
                </div>
            </div>
            <div class="flipper mr-3 mb-3"style="width:6rem; height:8rem;">
                <div class="front card bg-warning border-white">
                    <div class="card-header">
                        <h6 class="card-title text-white">TAKE</h6>
                    </div>
                    <div class="card-body">
                        <h6 class="card-title text-white">2 <i class="ml-2 fa fa-rocket bg-white text-primary rounded-circle"></i></h6>
                    </div>
                </div>
                <div class="back card border-white @t2">
                    <div class="card-header">
                        <h6 class="card-title">@ViewBag.CardArr.cards[4].StringVal</h6>
                    </div>
                    <div class="card-body">
                        <h6 class="card-title">@ViewBag.CardArr.cards[4].Suit</h6>
                    </div>
                </div>
            </div>
            <div class="flipper mb-3 mr-3"style="width:6rem; height:8rem;">
                <div class="front card bg-warning border-white">
                    <div class="card-header">
                        <h6 class="card-title text-white">TAKE</h6>
                    </div>
                    <div class="card-body">
                        <h6 class="card-title text-white">3 <i class="ml-2 fa fa-rocket bg-white text-primary rounded-circle"></i></h6>
                    </div>
                </div>
                <div class="back card border-white @t3">
                    <div class="card-header">
                        <h6 class="card-title">@ViewBag.CardArr.cards[3].StringVal</h6>
                    </div>
                    <div class="card-body">
                        <h6 class="card-title">@ViewBag.CardArr.cards[3].Suit</h6>
                    </div>
                </div>
            </div>
            <div class="flipper mb-3 mr-3"style="width:6rem; height:8rem;">
                <div class="front card bg-warning border-white">
                    <div class="card-header">
                        <h6 class="card-title text-white">TAKE</h6>
                    </div>
                    <div class="card-body">
                        <h6 class="card-title text-white">4 <i class="ml-2 fa fa-rocket bg-white text-primary rounded-circle"></i></h6>
                    </div>
                </div>
                <div class="back card border-warning @t4">
                    <div class="card-header">
                        <h6 class="card-title">@ViewBag.CardArr.cards[2].StringVal</h6>
                    </div>
                    <div class="card-body">
                        <h6 class="card-title">@ViewBag.CardArr.cards[2].Suit</h6>
                    </div>
                </div>
            </div>
            <div class="flipper mb-3"style="width:6rem; height:8rem;">
                <div class="front card bg-warning border-white">
                    <div class="card-header">
                        <h6 class="card-title text-white">TAKE</h6>
                    </div>
                    <div class="card-body">
                        <h6 class="card-title text-white">SHOT</h6>
                    </div>
                </div>
                <div class="back card border-warning @tS">
                    <div class="card-header">
                        <h6 class="card-title">@ViewBag.CardArr.cards[1].StringVal</h6>
                    </div>
                    <div class="card-body">
                        <h6 class="card-title">@ViewBag.CardArr.cards[1].Suit</h6>
                    </div>
                </div>
            </div>
            @* endofrow *@
        </div>
        

        <div class="row">
            
            <div class="flipper mr-3"style="width:6rem; height:8rem;">
                <div class="front card bg-success border-white">
                    <div class="card-header">
                        <h6 class="card-title text-white">GIVE</h6>
                    </div>
                    <div class="card-body">
                        <h6 class="card-title text-white">1 <i class="ml-2 fa fa-rocket bg-white text-primary rounded-circle"></i></h6>
                    </div>
                </div>
                <div class="back card border-success @g1">
                    <div class="card-header">
                        <h6 class="card-title">@ViewBag.CardArr.cards[10].StringVal</h6>
                    </div>
                    <div class="card-body">
                        <h6 class="card-title">@ViewBag.CardArr.cards[10].Suit</h6>
                    </div>
                </div>
            </div>
            <div class="flipper mb-3 mr-3" style="width:6rem; height:8rem;">
                <div class="front card bg-success border-white">
                    <div class="card-header">
                        <h6 class="card-title text-white">GIVE</h6>
                    </div>
                    <div class="card-body">
                        <h6 class="card-title text-white">2 <i class="ml-2 fa fa-rocket bg-white text-primary rounded-circle"></i></h6>
                    </div>
                </div>
                <div class="back card border-success @g2">
                    <div class="card-header">
                        <h6 class="card-title">@ViewBag.CardArr.cards[9].StringVal</h6>
                    </div>
                    <div class="card-body">
                        <h6 class="card-title">@ViewBag.CardArr.cards[9].Suit</h6>
                    </div>
                </div>
            </div>
            <div class="flipper mr-3"style="width:6rem; height:8rem;">
                <div class="front card bg-success border-white">
                    <div class="card-header">
                        <h6 class="card-title text-white">GIVE</h6>
                    </div>
                    <div class="card-body">
                        <h6 class="card-title text-white">3 <i class="ml-2 fa fa-rocket bg-white text-primary rounded-circle"></i></h6>
                    </div>
                </div>
                <div class="back card border-success @g3">
                    <div class="card-header">
                        <h6 class="card-title">@ViewBag.CardArr.cards[8].StringVal</h6>
                    </div>
                    <div class="card-body">
                        <h6 class="card-title">@ViewBag.CardArr.cards[8].Suit</h6>
                    </div>
                </div>
            </div>
            <div class="flipper mr-3"style="width:6rem; height:8rem;">
                <div class="front card bg-success border-white">
                    <div class="card-header">
                        <h6 class="card-title text-white">GIVE</h6>
                    </div>
                    <div class="card-body">
                        <h6 class="card-title text-white">4 <i class="ml-2 fa fa-rocket bg-white text-primary rounded-circle"></i></h6>
                    </div>
                </div>
                <div class="back card border-success @g4">
                    <div class="card-header">
                        <h6 class="card-title">@ViewBag.CardArr.cards[7].StringVal</h6>
                    </div>
                    <div class="card-body">
                        <h6 class="card-title">@ViewBag.CardArr.cards[7].Suit</h6>
                    </div>
                </div>
            </div>
            <div class="flipper"style="width:6rem; height:8rem;">
                <div class="front card bg-success border-white">
                    <div class="card-header">
                        <h6 class="card-title text-white">GIVE</h6>
                    </div>
                    <div class="card-body">
                        <h6 class="card-title text-white">SHOT</h6>
                    </div>
                </div>
                <div class="back card border-success @gS">
                    <div class="card-header">
                        <h6 class="card-title">@ViewBag.CardArr.cards[6].StringVal</h6>
                    </div>
                    <div class="card-body">
                        <h6 class="card-title">@ViewBag.CardArr.cards[6].Suit</h6>
                    </div>
                </div>
            </div>
        </div>

        @* endofCOL *@
    </div>
    <div class="col-3">
        <div class="flipper" style="width:7rem; height:8rem; margin-top:50px;">
            <div class="front card border-white bg-danger">
                <div class="card-header">
                    <h6 class="card-title text-white">TAKE 2</h6>
                </div>
                <div class="card-body">
                    <h6 class="card-title text-white">SHOTS</h6>
                </div>
            </div>
            <div class="back card border-danger @t2s">
                <div class="card-header">
                    <h6 class="card-title">@ViewBag.CardArr.cards[0].StringVal</h6>
                </div>
                <div class="card-body">
                    <h6 class="card-title">@ViewBag.CardArr.cards[0].Suit</h6>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">


    <div id="playArea" class="col-6 ml-5 mr-5">
        @if(ViewBag.players != null)
        {
        <div class="row">
            @foreach (var player in ViewBag.players)
            {
                string suitColor1 = "";
                string suitColor2 = "";
                string suitColor3 = "";
                string suitColor4 = "";
                // ROUND 1
                @if(player.rdOneCard.Suit == "♥" || player.rdOneCard.Suit == "♦")
                {
                    suitColor1 = "text-danger";
                }
                @if(player.rdOneCard.Suit == "♠" || player.rdOneCard.Suit == "♣")
                {
                    suitColor1 = "text-dark";
                }
                // ROUND 2
                @if(player.rdTwoCard.Suit == "♥" || player.rdTwoCard.Suit == "♦" )
                {
                    suitColor2 = "text-danger";
                }
                @if(player.rdTwoCard.Suit == "♠" || player.rdTwoCard.Suit == "♣" )
                {
                    suitColor2 = "text-dark";
                }
                // ROUND 3
                @if(player.rdThreeCard.Suit == "♦" || player.rdThreeCard.Suit == "♥")
                {
                    suitColor3 = "text-danger";
                }
                @if(player.rdThreeCard.Suit == "♠" || player.rdThreeCard.Suit == "♣")
                {
                    suitColor3 = "text-dark";
                }
                // ROUND 4
                @if(player.rdFourCard.Suit == "♦" || player.rdFourCard.Suit == "♥" )
                {
                    suitColor4 = "text-danger";
                }
                @if(player.rdFourCard.Suit == "♠" || player.rdFourCard.Suit == "♣" )
                {
                    suitColor4 = "text-dark";
                }
                <div class="row w-100 text-white roundCount" style="padding-left:18%">
                    <h6 class="pl-3 mr-4 bg-primary">ROUND 1</h6>
                    <h6 class="pl-3 mr-4 bg-primary">ROUND 2</h6>
                    <h6 class="pl-3 mr-4 bg-primary">ROUND 3</h6>
                    <h6 class="pl-3 bg-primary">ROUND 4</h6>
                </div>
                <div class="row mb-3 p-2 font-weight-bold" style="background:linear-gradient(rgba(100,100,255,0.7),rgba(200,255,255,0.7)); border-radius:20px;">
                    <div class="pt-2 pb-1">
                        <img src="~/images/astronaut.jpg" class="rounded-circle" alt=""  height="70px;" width="70px">
                        <h6 class="text-center text-white mt-3">@player.Username</h6>
                    </div>
                    
                    <div class="rd1flip flipper ml-4" style="width:6rem; height:7.45rem;">
                        <div class="front card border-white">
                            <div class="card-header p-0">
                                @* <h6 class="card-title text-dark">SMOK</h6> *@
                                <form class="roundz-1" method="POST" asp-action="RoundOne" asp-route-playerId="@player.PlayerId"  asp-route-rdOneData="smoke">
                                    <button class="rd1 btn btn-dark py-3 w-100">SMOKE<i class="fa fa-fire-extinguisher"></i></button>
                                </form>
                            </div>
                            <div class="card-body p-0">
                                <form class="roundz-1" method="POST" asp-action="RoundOne" asp-route-playerId="@player.PlayerId"  asp-route-rdOneData="fire">
                                    <button class="rd1 btn btn-danger py-3 w-100">FIRE <i class="fa fa-fire"></i></button>
                                </form>
                            </div>
                        </div>
                        <div class="back card border-secondary @suitColor1">
                            <div class="card-header">
                                <h6 class="card-title">@player.rdOneCard.StringVal</h6>
                            </div>
                            <div class="card-body">
                                <h6 class="card-title">@player.rdOneCard.Suit</h6>
                            </div>
                        </div>
                    </div>
        
                    <div class="rd2flip flipper ml-4" style="width:6rem; height:7.45rem;">
                        <div class="front card border-white">
                            <div class="card-header p-0">
                                <form class="roundz-2" method="POST" asp-action="RoundTwo" asp-route-playerId="@player.PlayerId"  asp-route-rdTwoData="high">
                                    <button class="rd2 btn btn-danger py-3 w-100">HIGH <i class="fa fa-arrow-circle-up"></i></button>
                                </form>
                            </div>
                            <div class="card-body p-0">
                                <form class="roundz-2" method="POST" asp-action="RoundTwo" asp-route-playerId="@player.PlayerId"  asp-route-rdTwoData="low">
                                    <button class="rd2 btn btn-warning text-white py-3 w-100">LOW <i class="fa fa-arrow-circle-down"></i></button>
                                </form>
                            </div>
                        </div>
                        <div class="back card border-primary @suitColor2">
                            <div class="card-header">
                                <h6 class="card-title">@player.rdTwoCard.StringVal</h6>
                            </div>
                            <div class="card-body">
                                <h6 class="card-title">@player.rdTwoCard.Suit</h6>
                            </div>
                        </div>
                    </div>
        
                    <div class="rd3flip flipper ml-4" style="width:6rem; height:7.45rem;">
                        <div class="front card border-white">
                            <div class="card-header p-0">
                                <form class="roundz-3" method="POST" asp-action="RoundThree" asp-route-playerId="@player.PlayerId"  asp-route-rdThreeData="in">
                                    <button class="rd3 btn btn-success py-3 w-100"><i class="fa fa-arrow-circle-right"></i> IN <i class="fa fa-arrow-circle-left"></i></button>
                                </form>
                            </div>
                            <div class="card-body p-0">
                                <form class="roundz-3" method="POST" asp-action="RoundThree" asp-route-playerId="@player.PlayerId"  asp-route-rdThreeData="out">
                                    <button class="rd3 btn btn-danger py-3 w-100"><i class="fa fa-arrow-circle-left"></i>OUT<i class="fa fa-arrow-circle-right"></i></button>
                                </form>
                            </div>
                        </div>
                        <div class="back card border-primary @suitColor3">
                            <div class="card-header">
                                <h6 class="card-title">@player.rdThreeCard.StringVal</h6>
                            </div>
                            <div class="card-body">
                                <h6 class="card-title">@player.rdThreeCard.Suit</h6>
                            </div>
                        </div>
                    </div>
        
                    <div class="rd4flip flipper ml-4" style="width:6.15rem; height:7.45rem;">
                        <div class="front card border-white">
                            <div class="card-header p-0">
                                <div class="row d-flex justify-content-center">
                                    <form class="roundz-4" method="POST" asp-action="RoundFour" asp-route-playerId="@player.PlayerId"  asp-route-rdFourData="spades">
                                        <button class="rd4 btn btn-dark py-3"style="width:48px">♠</button>
                                    </form>
                                    <form class="roundz-4" method="POST" asp-action="RoundFour" asp-route-playerId="@player.PlayerId"  asp-route-rdFourData="hearts">
                                        <button class="rd4 btn btn-danger py-3" style="width:48px">♥</button>
                                    </form>
                                </div>
                            </div>
                            <div class="card-body p-0">
                                <div class="row d-flex justify-content-center">
                                    <form class="roundz-4" method="POST" asp-action="RoundFour" asp-route-playerId="@player.PlayerId"  asp-route-rdFourData="diamonds">
                                        <button class="rd4 btn btn-danger py-3" style="width:48px">♦</button>
                                    </form>
                                    <form class="roundz-4" method="POST" asp-action="RoundFour" asp-route-playerId="@player.PlayerId"  asp-route-rdFourData="clubs">
                                        <button class="rd4 btn btn-dark py-3"style="width:48px">♣</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="back card border-primary @suitColor4">
                            <div class="card-header">
                                <h6 class="card-title">@player.rdFourCard.StringVal</h6>
                            </div>
                            <div class="card-body">
                                <h6 class="card-title">@player.rdFourCard.Suit</h6>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        }
        else
        {
            <h1>Testing</h1>
        }
    </div>
    <div class="col-2 text-white">
        <partial name="_NewPlayer"></partial>
    </div>
    <div class="col-2 text-white">
        <partial name="_NewGame"></partial>
    </div>
</div>

<script>
    $j3('.roundz-1').submit(function (e) {
        e.preventDefault();
        var form = $(this);
        $.ajax({
            type: form.attr('method'),
            url: form.attr('action'),
            data: form.serialize(),
            success: function (data) {
                    console.log(data);
                    var html_to_append = '';
                    $.each(data, function(i, d) {
                        html_to_append +=
                                '<li>' +
                                    d + '</li>';

                    });
                    $(".res-1").html(html_to_append);
                    },
                    error: function() {
                    console.log(data);
            }
        });
    });
    </script>
    <script>
        $j3('.roundz-2').submit(function (e) {
            e.preventDefault();
            var form = $(this);
            $.ajax({
                type: form.attr('method'),
                url: form.attr('action'),
                data: form.serialize(),
                success: function (data) {
                        console.log(data);
                        var html_to_append = '';
                        $.each(data, function(i, d) {
                            html_to_append +=
                                    '<li>' +
                                        d + '</li>';
    
                        });
                        $(".res-2").html(html_to_append);
                        },
                        error: function() {
                        console.log(data);
                }
            });
        }); 
    </script>
    <script>
        $j3('.roundz-3').submit(function (e) {
            e.preventDefault();
            var form = $(this);
            $.ajax({
                type: form.attr('method'),
                url: form.attr('action'),
                data: form.serialize(),
                success: function (data) {
                        console.log(data);
                        var html_to_append = '';
                        $.each(data, function(i, d) {
                            html_to_append +=
                                    '<li>' +
                                        d + '</li>';
    
                        });
                        $(".res-3").html(html_to_append);
                        },
                        error: function() {
                        console.log(data);
                }
            });
        }); 
    </script>
    <script>
        $j3('.roundz-4').submit(function (e) {
            e.preventDefault();
            var form = $(this);
            $.ajax({
                type: form.attr('method'),
                url: form.attr('action'),
                data: form.serialize(),
                success: function (data) {
                        console.log(data);
                        var html_to_append = '';
                        $.each(data, function(i, d) {
                            html_to_append +=
                                    '<li>' +
                                        d + '</li>';
    
                        });
                        $(".res-4").html(html_to_append);
                        },
                        error: function() {
                        console.log(data);
                }
            });
        });
    </script>