@model Card
@using RocketShip.Models
<div class="row pt-4">
    <div class="col-3">
        <div class="col-10 ml-4 px-auto bg-white rounded py-3" style="height:270px;">
        @{
        List<string> rdOneResult = Context.Session.GetObjectFromJson<List<string>>("RoundOneResult");
        List<string> rdTwoResult = Context.Session.GetObjectFromJson<List<string>>("RoundTwoResult");
        List<string> rdThreeResult = Context.Session.GetObjectFromJson<List<string>>("RoundThreeResult");
        List<string> rdFourResult = Context.Session.GetObjectFromJson<List<string>>("RoundFourResult");
        }
            <div class="text-secondary">
                @if (rdOneResult != null)
                {
                    @foreach (string resOne in rdOneResult)
                    {
                        <ul style="list-style: none;">
                            <li>@resOne</li>
                        </ul>
                    }
                }
            </div>
            <div class="text-primary">
                @if (rdTwoResult != null)
                {
                    @foreach (string resTwo in rdTwoResult)
                    {
                        <ul style="list-style: none;">
                            <li>@resTwo</li>
                        </ul>
                    }
                }
            </div>
            <div class="text-warning">
                @if (rdThreeResult != null)
                {
                    @foreach (string resThree in rdThreeResult)
                    {
                        <ul style="list-style: none;">
                            <li>@resThree</li>
                        </ul>
                    }
                }
            </div>
            <div class="text-danger">
                @if (rdFourResult != null)
                {
                    @foreach (string resFour in rdFourResult)
                    {
                        <ul style="list-style: none;">
                            <li>@resFour</li>
                        </ul>
                    }
                }
            </div>
        </div>
    </div>
    <div class="col-6 mx-auto">
        <div class="row">
            <div class="card border-warning mb-3 mr-3" style="width:6rem; height:8rem;">
                <div class="card-header">
                    <h6 class="front-card card-title text-warning">TAKE</h6>
                    <h6 class="back-card card-title">@ViewBag.CardArr.cards[5].StringVal</h6>
                </div>
                <div class="card-body">
                    <h6 class="front-card card-title text-warning">1</h6>
                    <h6 class="back-card card-title">@ViewBag.CardArr.cards[5].Suit</h6>
                </div>
            </div>
            <div class="card border-warning mb-3 mr-3" style="width:6rem; height:8rem;">
                <div class="card-header">
                    <h6 class="front-card card-title text-warning">TAKE</h6>
                    <h6 class="back-card card-title">@ViewBag.CardArr.cards[4].StringVal</h6>
                </div>
                <div class="card-body">
                    <h6 class="front-card card-title text-warning">2</h6>
                    <h6 class="back-card card-title">@ViewBag.CardArr.cards[4].Suit</h6>
                </div>
            </div>
            <div class="card border-warning mb-3 mr-3" style="width:6rem; height:8rem;">
                <div class="card-header">
                    <h6 class="front-card card-title text-warning">TAKE</h6>
                    <h6 class="back-card card-title">@ViewBag.CardArr.cards[3].StringVal</h6>
                </div>
                <div class="card-body">
                    <h6 class="front-card card-title text-warning">3</h6>
                    <h6 class="back-card card-title">@ViewBag.CardArr.cards[3].Suit</h6>
                </div>
            </div>
            <div class="card border-warning mb-3 mr-3" style="width:6rem; height:8rem;">
                <div class="card-header">
                    <h6 class="front-card card-title text-warning">TAKE</h6>
                    <h6 class="back-card card-title">@ViewBag.CardArr.cards[2].StringVal</h6>
                </div>
                <div class="card-body">
                    <h6 class="front-card card-title text-warning">4</h6>
                    <h6 class="back-card card-title">@ViewBag.CardArr.cards[2].Suit</h6>
                </div>
            </div>
            <div class="card border-warning mb-3" style="width:6rem; height:8rem;">
                <div class="card-header">
                    <h6 class="front-card card-title text-warning">TAKE</h6>
                    <h6 class="back-card card-title">@ViewBag.CardArr.cards[1].StringVal</h6>
                </div>
                <div class="card-body">
                    <h6 class="front-card card-title text-warning text-success">SHOT</h6>
                    <h6 class="back-card card-title">@ViewBag.CardArr.cards[1].Suit</h6>
                </div>
            </div>
            @* endofrow *@
        </div>
        

        <div class="row mb-5">
            
            <div class="card border-success mb-3 mr-3" style="width:6rem; height:8rem;">
                <div class="card-header">
                    <h6 class="front-card card-title text-success">GIVE</h6>
                    <h6 class="back-card card-title">@ViewBag.CardArr.cards[10].StringVal</h6>
                </div>
                <div class="card-body">
                    <h6 class="front-card card-title text-success">1</h6>
                    <h6 class="back-card card-title">@ViewBag.CardArr.cards[10].Suit</h6>
                </div>
            </div>
            <div class="card border-success mb-3 mr-3" style="width:6rem; height:8rem;">
                <div class="card-header">
                    <h6 class="front-card card-title text-success">GIVE</h6>
                    <h6 class="back-card card-title">@ViewBag.CardArr.cards[9].StringVal</h6>
                </div>
                <div class="card-body">
                    <h6 class="front-card card-title text-success">2</h6>
                    <h6 class="back-card card-title">@ViewBag.CardArr.cards[9].Suit</h6>
                </div>
            </div>
            <div class="card border-success mb-3 mr-3" style="width:6rem; height:8rem;">
                <div class="card-header">
                    <h6 class="front-card card-title text-success">GIVE</h6>
                    <h6 class="back-card card-title">@ViewBag.CardArr.cards[8].StringVal</h6>
                </div>
                <div class="card-body">
                    <h6 class="front-card card-title text-success">3</h6>
                    <h6 class="back-card card-title">@ViewBag.CardArr.cards[8].Suit</h6>
                </div>
            </div>
            <div class="card border-success mb-3 mr-3" style="width:6rem; height:8rem;">
                <div class="card-header">
                    <h6 class="front-card card-title text-success">GIVE</h6>
                    <h6 class="back-card card-title">@ViewBag.CardArr.cards[7].StringVal</h6>
                </div>
                <div class="card-body">
                    <h6 class="front-card card-title text-success">4</h6>
                    <h6 class="back-card card-title">@ViewBag.CardArr.cards[7].Suit</h6>
                </div>
            </div>
            <div class="card border-success mb-3" style="width:6rem; height:8rem;">
                <div class="card-header">
                    <h6 class="front-card card-title text-success">GIVE</h6>
                    <h6 class="back-card card-title">@ViewBag.CardArr.cards[6].StringVal</h6>
                </div>
                <div class="card-body">
                    <h6 class="front-card card-title text-success">SHOT</h6>
                    <h6 class="back-card card-title">@ViewBag.CardArr.cards[6].Suit</h6>
                </div>
            </div>
        </div>

        @* endofCOL *@
    </div>
    <div class="col-3">
        <div class="card border-danger mb-3" style="width:7rem; height:8rem; margin-top:50px;">
            <div class="card-header">
                <h6 class="front-card card-title text-danger">TAKE (2)</h6>
                <h6 class="back-card card-title">@ViewBag.CardArr.cards[0].StringVal</h6>
            </div>
            <div class="card-body">
                <h6 class="front-card card-title text-danger">SHOTS</h6>
                <h6 class="back-card card-title">@ViewBag.CardArr.cards[0].Suit</h6>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6 ml-5 mr-5">
        @if(ViewBag.players != null)
        {
        <div class="row">
            @foreach (var player in ViewBag.players)
            {
                <div class="row mb-5">
                    <div class="col-2 ml-3 bg-primary rounded pt-3 pb-1">
                        <img src="~/images/astronaut.jpg" class="rounded-circle" alt=""  height="70px;" width="70px">
                        <h6 class="text-center text-white font-weight-bold mt-3">@player.Username</h6>
                    </div>
                    
                    <div class="card border-secondary ml-4" style="width:6rem; height:8rem;">
                        <div class="card-header">
                            <h6 class="front-card card-title text-secondary">SMOK</h6>
                            <h6 class="back-card card-title">@player.rdOneCard.StringVal</h6>
                            @* @if(player.rdOneCard.StringVal) *@
                        </div>
                        <div class="card-body">
                            <h6 class="front-card card-title text-danger">FIRE</h6>
                            <h6 class="back-card card-title">@player.rdOneCard.Suit</h6>
                        </div>
                        <div class="row mx-auto mt-2">
                            <form method="POST" asp-action="RoundOne" asp-route-playerId="@player.PlayerId"  asp-route-rdOneData="smoke">
                                <button class="btn btn-secondary btn-sm mr-3"><i class="fa fa-fire-extinguisher"></i></button>
                            </form>
                            <form method="POST" asp-action="RoundOne" asp-route-playerId="@player.PlayerId"  asp-route-rdOneData="fire">
                                <button class="btn btn-danger btn-sm"><i class="fa fa-fire"></i></button>
                            </form>
                        </div>
                    </div>
        
                    <div class="card border-primary ml-4" style="width:6rem; height:8rem;">
                        <div class="card-header">
                            <h6 class="front-card card-title text-success">HIGH</h6>
                            <h6 class="back-card card-title">@player.rdTwoCard.StringVal</h6>
                        </div>
                        <div class="card-body">
                            <h6 class="front-card card-title text-danger">LOW</h6>
                            <h6 class="back-card card-title">@player.rdTwoCard.Suit</h6>
                        </div>
                        <div class="row mx-auto mt-2">
                            <form method="POST" asp-action="RoundTwo" asp-route-playerId="@player.PlayerId"  asp-route-rdTwoData="high">
                                <button class="btn btn-success btn-sm mr-3"><i class="fa fa-arrow-circle-up"></i></button>
                            </form>
                            <form method="POST" asp-action="RoundTwo" asp-route-playerId="@player.PlayerId"  asp-route-rdTwoData="low">
                                <button class="btn btn-danger btn-sm"><i class="fa fa-arrow-circle-down"></i></button>
                            </form>
                        </div>
                    </div>
        
                    <div class="card border-primary ml-4" style="width:6rem; height:8rem;">
                        <div class="card-header">
                            <h6 class="front-card card-title text-success">IN</h6>
                            <h6 class="back-card card-title">@player.rdThreeCard.StringVal</h6>
                        </div>
                        <div class="card-body">
                            <h6 class="front-card card-title text-danger">OUT</h6>
                            <h6 class="back-card card-title">@player.rdThreeCard.Suit</h6>
                        </div>
                        <div class="row mx-auto mt-2">
                            <form method="POST" asp-action="RoundThree" asp-route-playerId="@player.PlayerId"  asp-route-rdThreeData="in">
                                <button class="btn btn-success btn-sm"><i class="fa fa-arrow-circle-right"></i><i class="fa fa-arrow-circle-left"></i></button>
                            </form>
                            <form method="POST" asp-action="RoundThree" asp-route-playerId="@player.PlayerId"  asp-route-rdThreeData="out">
                                <button class="btn btn-danger btn-sm"><i class="fa fa-arrow-circle-left"></i><i class="fa fa-arrow-circle-right"></i></button>
                            </form>
                        </div>
                    </div>
        
                    <div class="card border-primary ml-4" style="width:6rem; height:8rem;">
                        <div class="card-header">
                            <h6 class="front-card card-title text-dark">♠♣</h6>
                            <h6 class="back-card card-title">@player.rdFourCard.StringVal</h6>
                        </div>
                        <div class="card-body">
                            <h6 class="front-card card-title text-danger">♢♡</h6>
                            <h6 class="back-card card-title">@player.rdFourCard.Suit</h6>
                        </div>
                        <div class="row mt-2">
                            <form method="POST" asp-action="RoundFour" asp-route-playerId="@player.PlayerId"  asp-route-rdFourData="spades">
                                <button class="btn btn-dark btn-sm">♠</button>
                            </form>
                            <form method="POST" asp-action="RoundFour" asp-route-playerId="@player.PlayerId"  asp-route-rdFourData="clubs">
                                <button class="btn btn-dark btn-sm">♣</button>
                            </form>
                            <form method="POST" asp-action="RoundFour" asp-route-playerId="@player.PlayerId"  asp-route-rdFourData="diamonds">
                                <button class="btn btn-danger btn-sm">♢</button>
                            </form>
                            <form method="POST" asp-action="RoundFour" asp-route-playerId="@player.PlayerId"  asp-route-rdFourData="hearts">
                                <button class="btn btn-danger btn-sm">♡</button>
                            </form>
                        </div>
                    </div>
                </div>
            }
        </div> 
        }
        else
        {
            <h1>Testing</h1>
        }
    </div>
    <div class="col-2 text-white">
        <partial name="_NewPlayer"></partial>
    </div>
    <div class="col-2 text-white">
        <partial name="_NewGame"></partial>
    </div>
</div>